body{
    text-align: center;
    background-color: rgba(234, 229, 223, 0.542);
}

.button{
    background-color: rgb(192, 215, 218);
}
.button:hover{
    background-color: rgb(65, 186, 222);
}

img{
    border-radius: 45px;
    max-width: 100%;
    height: auto;
}

div.polaroid {
    margin: 20px auto;
    width: 80%;
    border-radius: 45px;
    background-color: #759fb3;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;

  }
  
  #Pic{width:auto}
  
  div.container {
    text-align: center;
    padding: 10px 20px;
  }
 
